<% content_for :head do %>
  <base href="/">
  <%= stylesheet_link_tag 'webStyle' %>
  <link rel="stylesheet" href="/assets/static/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/static/style-min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<% end %>

<body>

    <div class="custom-container mt-5" style="padding: 0 4rem; max-width: 1800px;">
      <div class="d-flex">
        <div class="col-md-3 bg-light">
          <div id="movie-full-info">
            <div class="movie-info-poster">
              <span>
                <%= display_image(@movie, :poster) %>
              </span>
            </div>
            <div class="info-data">
              <h1 itemprop="name" class="info-title"><%= @movie.name %></h1>
              <div class="info-subtitle">
                <span class="sub-quality mini-stt">HD</span>
                <span class="sub-rating mini-stt">PG</span>
                <span class="sub-imdb mini-stt">IMDb <%= @movie.imdb %></span>
                <span class="text-white"><%= @movie.duration %> min</span>
              </div>
              <div class="description cts-wrapper">
                <div class="cts-block short" data-name="short">
                  <div><%= truncate(@movie.description, length: 300) %></div> <button
                    class="btn btn-sm btn-dark desc-btn mt-2 cts-switcher" data-target="full">view all <i
                      class="bi bi-arrow-right-short"></i></button>
                </div>
                <div class="cts-block" data-name="full" style="display:none">
                  <div><%= @movie.description %></div> <button
                    class="btn btn-sm btn-dark desc-btn mt-2 cts-switcher" data-target="short"><i
                      class="bi bi-arrow-left-short"></i> view less</button>
                </div>
              </div>
              <div class="meta">
                <div>
                  <div>Type:</div>
                  <span> <a href="movie">Movie</a> </span>
                </div>
                <div>
                  <div>Country:</div>
                  <span>
                    <%= linked_items_list(@movie.countries, ->(name) { "/country/#{name}" }) %>
                  </span>
                </div>
                <div>
                  <div>Genre:</div>
                  <span>
                    <%= linked_items_list(@movie.genres, ->(name) { "/genre/#{name}" }) %>
                  </span>
                </div>
                <div>
                  <div>Release:</div> <span itemprop="dateCreated"><%= @movie.release_year %></span>
                </div>
                <div>
                  <div>Director:</div>
                  <span>
                    <%= linked_items_list(@movie.directors, ->(name) { "/director/#{name}" }) %>
                  </span>
                </div>
                <div>
                  <div>Production:</div>
                  <span>
                    <%= linked_items_list(@movie.productions, ->(name) { "/production/#{name}" }) %>
                  </span>
                </div>
                <div>
                  <div>Cast:</div>
                  <span>
                    <%= linked_items_list(@movie.actors, ->(name) { "/actor/#{name}" }) %>
                  </span>
                </div>
              </div>
              <div class="rating-box" itemprop="aggregateRating" itemscope=""
                itemtype="https://schema.org/AggregateRating" data-id="66937" data-score="6.47"> <span class="stars">
                  <span class="active"><i class="bi bi-star-fill"></i></span> <span class="active"><i
                      class="bi bi-star-fill"></i></span> <span class="active"><i class="bi bi-star-fill"></i></span>
                  <span class="active"><i class="bi bi-star-fill"></i></span> <span class="active"><i
                      class="bi bi-star-fill"></i></span> </span>
                <div class="score live-label"> <span><b itemprop="ratingValue">6.47</b> of <b
                      itemprop="bestRating">10</b></span> <span>(<span itemprop="reviewCount"
                      style="display:none">4400</span>4,400 reviews)</span> </div>
              </div>
              <div class="sharing">
                <div
                  class="sharethis-inline-share-buttons mt-4 st-left st-has-labels  st-inline-share-buttons st-animated"
                  data-url="https://flixtor.video/movie/the-little-mermaid2-zk9wl" id="st-1">
                  <div class="st-total ">
                    <span class="st-label">20</span>
                    <span class="st-shares">
                      Shares
                    </span>
                  </div>
                  <div class="st-btn st-first st-hide-label  st-remove-label" data-network="facebook"
                    style="display: inline-block;">
                    <img alt="facebook sharing button" src="https://platform-cdn.sharethis.com/img/facebook.svg">
                    <span class="st-label"></span>
                  </div>
                  <div class="st-btn st-hide-label  st-remove-label" data-network="twitter"
                    style="display: inline-block;">
                    <img alt="twitter sharing button" src="https://platform-cdn.sharethis.com/img/twitter.svg">
                    <span class="st-label"></span>
                  </div>
                  <div class="st-btn st-hide-label  st-remove-label" data-network="messenger"
                    style="display: inline-block;">
                    <img alt="messenger sharing button" src="https://platform-cdn.sharethis.com/img/messenger.svg">
                    <span class="st-label"></span>
                  </div>
                  <div class="st-btn st-hide-label  st-remove-label" data-network="reddit"
                    style="display: inline-block;">
                    <img alt="reddit sharing button" src="https://platform-cdn.sharethis.com/img/reddit.svg">
                    <span class="st-label"></span>
                  </div>
                  <div class="st-btn st-hide-label  st-remove-label" data-network="whatsapp" style="display: none;">
                    <img alt="whatsapp sharing button" src="https://platform-cdn.sharethis.com/img/whatsapp.svg">
                    <span class="st-label"></span>
                  </div>
                  <div class="st-btn st-last st-hide-label  st-remove-label" data-network="telegram"
                    style="display: none;">
                    <img alt="telegram sharing button" src="https://platform-cdn.sharethis.com/img/telegram.svg">
                    <span class="st-label"></span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-9 bg-light content-main p-0">
          <div class="signature-bg overflow-hidden_">
            <div id="movie-player" class="no-player playable">
              <div class="movie-player-wrap">
                <div
                  class="player-bg <%=get_image_url(@movie, :thumbnail)%>"
                  style="background-image: url(<%=get_image_url(@movie, :thumbnail)%>)">
                </div>
                <div id="player">
                  <div class="btn-play"><i class="bi bi-play-fill"></i></div>
                </div>
                <video id="video-player" controls style="display: none;">
                  <source id="video-source" src="<%= @movie&.movie_video&.video_link %>" type="video/mp4">
                </video>
              </div>
              <div id="movie-ctrls">
                <div class="movie-ctrls-wrap">
                  <div class="movie-ctrl auto-play" data-name="auto_play" data-persist="true" data-default="0"
                    data-off="<i class='bi bi-square-fill'></i> Auto Play"
                    data-on="<i class='bi bi-check-square-fill'></i> Auto Play"><i class="bi bi-square-fill"></i> Auto
                    Play</div>
                  <div class="movie-ctrl auto-next" data-name="auto_next" data-persist="true" data-default="1"
                    data-off="<i class='bi bi-square-fill'></i> Auto Next"
                    data-on="<i class='bi bi-check-square-fill'></i> Auto Next"><i class="bi bi-square-fill"></i> Auto
                    Next</div>
                  <div class="movie-ctrl auto-skip" data-name="auto_skip_intro" data-persist="true" data-default="0"
                    data-off="<i class='bi bi-square-fill'></i> Auto Skip"
                    data-on="<i class='bi bi-check-square-fill'></i> Auto Skip"><i class="bi bi-square-fill"></i> Auto
                    Skip</div>
                  <div class="skiptime dropdown" style="display:none" data-toggle="tooltip" data-placement="top"
                    title=""
                    data-original-title="Please help us by contributing time to skip the intro, outro. HOW TO: Click to an input field, then seek the video to the correct position, the time will automatic filled to the field, then submit the form. HOW IT WORKS: The system will automatic skip the video from [BEGIN] to [END].">
                    <div class="movie-ctrl" data-toggle="dropdown" data-placeholder="false"> <i
                        class="bi bi-stopwatch-fill"></i> Set skip time</div>
                    <ul class="dropdown-menu noclose">
                      <li>
                        <div class="input">
                          <div class="intro block">
                            <div class="line"><i></i></div>
                            <div class="group begin"> <label>Intro begin</label> <input type="text" name="intro_begin"
                                class="form-control form-control-sm" placeholder="00:00:00" autocomplete="off"> </div>
                            <div class="group end"> <label>Intro end</label> <input type="text" name="intro_end"
                                class="form-control form-control-sm" placeholder="00:00:00" autocomplete="off"> </div>
                          </div>
                          <div class="outro block">
                            <div class="line"><i></i></div>
                            <div class="group begin"> <label>Outro begin</label> <input type="text" name="outro_begin"
                                class="form-control form-control-sm" placeholder="00:00:00" autocomplete="off"> </div>
                            <div class="group end"> <label>Outro end</label> <input type="text" name="outro_end"
                                class="form-control form-control-sm" placeholder="00:00:00" autocomplete="off"> </div>
                          </div>
                          <div class="submit"> <button class="btn btn-sm mt-2 btn-primary w-100" type="button"><i
                                class="mdi mdi-handshake-outline"></i> Contribute</button> </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="light movie-ctrl"><i class="bi bi-lightbulb-fill"></i> <span>Light</span></div>
                  <div class="dropdown user-bookmark" data-id="66937" data-fetch="true">
                    <div class="movie-ctrl" data-toggle="dropdown" data-placeholder="false"
                      data-add="<i class=&quot;bi bi-bookmark-fill&quot;></i> <span>Add Bookmark</span>"
                      data-edit="<i class=&quot;bi bi-bookmark-fill&quot;></i> <span>Edit Bookmark</span>"><i
                        class="bi bi-bookmark-fill"></i> <span>Add Bookmark</span></div>
                    <div class="dropdown-menu dropdown-menu-right folders"></div>
                  </div>
                  <div class="movie-ctrl" data-toggle="modal" data-target="#report"><i
                      class="bi bi-exclamation-square-fill"></i> <span>Report</span></div>
                </div>
              </div>
              <div id="movie-clouds">
                <div class="text-center movie-cloud-notice mb-2"> If current server doesn't work please try other
                  servers below. </div>
                <div class="movie-clouds-wrap">
                  <div class="movie-cloud active" data-id="41" data-link-id="1936927">
                    <div><span><i class="bi bi-cloud"></i> server</span> <span>Vidstream</span> </div>
                  </div>
                  <div class="movie-cloud" data-id="28" data-link-id="1936926">
                    <div><span><i class="bi bi-cloud"></i> server</span> <span>MyCloud</span> </div>
                  </div>
                  <div class="movie-cloud" data-id="45" data-link-id="1936929">
                    <div><span><i class="bi bi-cloud"></i> server</span> <span>Filemoon</span> </div>
                  </div>
                  <div class="movie-cloud" data-id="40" data-link-id="1936930">
                    <div><span><i class="bi bi-cloud"></i> server</span> <span>Streamtape</span> </div>
                  </div>
                </div>
              </div>
              <div id="movie-episode" class="movie">
                <div class="episode-top">
                  <div class="episode-top-title"><i class="bi bi-film"></i> Movie files</div>
                </div>
                <div class="episode-range" style="display: block" data-season="1">
                  <div> <a href="/movie/the-little-mermaid2-zk9wl/1-1" data-id="311406" data-num="1" data-slug="1"
                      title="Episode 1" class="active"> <span>Movie 1</span> </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex bg-light comment-contain">
        <section class="content-item" id="comments">
          <div class="container-new">
            <div class="row-new">
              <div class="col-sm-10">
                <h4 class="pull-left mb-5">Discussion</h4>
                <form>
                  <fieldset>
                    <div class="row-new d-flex">
                      <div class="col-sm-3 col-lg-1 hidden-xs">
                        <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                      </div>
                      <div class="form-group col-xs-11 col-sm-9 col-lg-11 ml-4">
                        <textarea class="form-control" id="message" placeholder="Your message" required=""></textarea>
                        <button type="submit" class="btn btn-secondary pull-right float-right">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>

                <h3>4 Comments</h3>

                <!-- COMMENT 1 - START -->
                <div class="media">
                  <a class="pull-left" href="#"><img class="media-object"
                      src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                  <div class="media-body">
                    <h5 class="media-heading">John Doe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                      ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.</p>
                    <div class="like containt d-flex justify-content-between">
                      <ul class="list-unstyled list-inline media-detail pull-left float-left d-flex">
                        <li><i class="fa fa-calendar"></i>27/02/2014</li>
                        <li><i class="fa fa-thumbs-up"></i>13</li>
                      </ul>
                      <ul class="list-unstyled list-inline media-detail pull-right float-right d-flex">
                        <li class=""><a href="">Like</a></li>
                        <li class=""><a href="">Reply</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- COMMENT 1 - END -->
                <div class="media">
                  <a class="pull-left" href="#"><img class="media-object"
                      src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                  <div class="media-body">
                    <h5 class="media-heading">John Doe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                      ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.</p>
                    <div class="like containt d-flex justify-content-between">
                      <ul class="list-unstyled list-inline media-detail pull-left float-left d-flex">
                        <li><i class="fa fa-calendar"></i>27/02/2014</li>
                        <li><i class="fa fa-thumbs-up"></i>13</li>
                      </ul>
                      <ul class="list-unstyled list-inline media-detail pull-right float-right d-flex">
                        <li class=""><a href="">Like</a></li>
                        <li class=""><a href="">Reply</a></li>
                      </ul>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</body>

<script src="/assets/movie.js"></script>
