<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create new movie</h1>
  </div>
  <%= form_for [:admin, @movie] do |f| %>
    <div class="form-group">
      <label>MovieType</label>
      <%= f.select :movie_type, options_for_select([["Single Movie", "single_movie"], ["TV Series", "tv_series"]]), {}, class: "form-control" %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name</label>
        <%= f.text_field :name, class: "form-control", placeholder: "enter movie name here ..." %>
      </div>
      <div class="form-group col-md-3">
        <label>Duration</label>
        <%= f.number_field :duration, class: "form-control", placeholder: "Duration" %>
      </div>
      <div class="form-group col-md-3">
        <label>Release year</label>
        <%= f.text_field :release_year, class: "form-control", placeholder: "YYYY", pattern: "\\d{4}", title: "Please enter a valid year (YYYY)" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Actor</label>
        <select class="form-control">
          <option selected>Choose Actor</option>
          <option>Actor1</option>
          <option>Actor2</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Genres</label>
        <select class="form-control">
          <option selected>Choose genres</option>
          <option>Action</option>
          <option>Drama</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>IMDB</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" placeholder="Movie description here.."></textarea>
      <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Upload Poster</label>
        <%= f.file_field :poster, class: "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <label>Upload Thumbnail</label>
        <%= f.file_field :thumbnail, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.fields_for :movie_video_attributes do |mv_form| %>
        <div class="form-group">
          <%= mv_form.label :video_url %>
          <%= mv_form.file_field :video_url, class: "form-control" %>
          <%= mv_form.hidden_field :server_name, value: "videostream", class: "form-control" %>
          <%= mv_form.hidden_field :video_url, value: 0, class: "form-control" %>
        </div>
      <% end %>
    </div>

    <button type="submit" class="btn btn-primary">Create Movie</button>
  <% end %>
</div>
