
<div class="form-row">
  <div class="form-row col-md-11">
    <div class="form-group col-md-6">
      <label>Episode Name</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <label>Episode relase date</label>
      <%= f.date_field :release_date, class: "form-control" %>
    </div>

    <div class="form-group col-md-12">
      <%= f.fields_for :movie_video_attributes do |mv_form| %>
        <div class="form-group">
          <%= mv_form.label :video_url %>
          <%= mv_form.file_field :video_url, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to "Remove Tv ep", "#",
    class: "btn btn-danger prevent-load form-group col-md-1 m-auto remove-btn" %>
</div>
