<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create new TV Series</h1>
  </div>
  <%= form_for @movie, url: admin_tv_series_index_path, method: :post do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-group">
      <label>MovieType</label>
      <input type="text" value="TV Series" class="form-control" placeholder="enter movie name here ..." readonly>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name</label>
        <%= f.text_field :name, class: "form-control", placeholder: "enter movie name here ..." %>
      </div>
      <div class="form-group col-md-2">
        <label>Duration</label>
        <%= f.number_field :duration, class: "form-control", placeholder: "Duration" %>
      </div>
      <div class="form-group col-md-2">
        <label>Release year</label>
        <%= f.text_field :release_year, class: "form-control", placeholder: "YYYY", pattern: "\\d{4}", title: "Please enter a valid year (YYYY)" %>
      </div>
      <div class="form-group col-md-2">
        <label>IMDB</label>
        <%= f.text_field :imdb, class: "form-control" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Actor</label>
        <select class="form-control">
          <option selected>Choose Actor</option>
          <option>Actor1</option>
          <option>Actor2</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Genres</label>
        <select class="form-control">
          <option selected>Choose genres</option>
          <option>Action</option>
          <option>Drama</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Country</label>
        <%= f.select :country, options_for_select(movie_country_options), {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <%= f.text_area :description, class: "form-control", placeholder: "Movie description here.." %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Upload Poster</label>
        <%= f.file_field :poster, class: "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <label>Upload Thumbnail</label>
        <%= f.file_field :thumbnail, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="tv_episodes">
        <h2>Create TV ep</h2>
        <%= f.fields_for :tv_episodes do |builder| %>
          <%= render 'tv_episode_fields', f: builder %>
        <% end %>
      </div>
      <%= link_to "Add Tv episodes", "#", id: "sub-field",
            class: "btn btn-info prevent-load",
            data: {field: sub_tv_episodes_field(f)} %>
    </div>

    <button type="submit" class="btn btn-primary">Create Movie</button>
  <% end %>

</div>
